 .u-section-1 {
  min-height: 1062px;
}

.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 885px;
  margin-top: 44px;
  margin-bottom: 53px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-1 .u-image-1 {
  width: 592px;
  height: 592px;
  background-image: url("images/-11.png");
  background-position: 50% 50%;
  margin: 79px 53px 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 300;
  font-family: kom-post;
  margin: -515px 619px 0 55px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: kom-post;
  margin: 211px 256px 0 35px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-family: kom-post;
  margin: -115px 536px 0 319px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  border-style: none;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: kom-post;
  background-image: none;
  margin: 76px auto 0 469px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -121px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -213px;
    margin-right: 412px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 91px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -157px;
    margin-right: 436px;
    margin-left: 219px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 269px;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -302px;
    margin-right: 302px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -60px;
    margin-right: 326px;
    margin-left: 109px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 232px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 236px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -97px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -181px;
    margin-right: 91px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 139px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -164px;
    margin-right: 55px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 894px;
}

.u-section-2 .u-shape-1 {
  height: 889px;
  width: 1240px;
  margin: 2px auto 0 -73px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -855px -13px 3px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 905px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: kom-post;
  margin: 32px auto 0 28px;
  padding: 6px 332px 7px 331px;
}

.u-section-2 .u-image-1 {
  height: 590px;
  width: 1121px;
  margin: 36px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 746px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 495px;
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-2 .u-image-1 {
    height: 379px;
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 101px;
  }

  .u-section-2 .u-image-1 {
    height: 284px;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-2 .u-image-1 {
    height: 179px;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 756px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 696px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-3 .u-gallery-1 {
  height: 491px;
  width: 566px;
  margin: 12px -8px -12px auto;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 226px;
  right: 10px;
  padding: 4px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 696px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-3 .u-text-1 {
  font-family: kom-post;
  margin: 0 30px;
}

.u-section-3 .u-text-2 {
  font-family: kom-post;
  margin: 0 42px 0 18px;
}

.u-section-3 .u-text-3 {
  font-family: kom-post;
  margin: 30px 274px 0 60px;
}

.u-section-3 .u-text-4 {
  font-family: kom-post;
  margin: -163px 30px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 285px;
  height: 367px;
  margin: -28px 0 0 auto;
}

.u-section-3 .u-text-5 {
  font-family: kom-post;
  margin: -156px auto 0 30px;
}

.u-section-3 .u-image-2 {
  width: 156px;
  height: 156px;
  margin: -23px -25px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-3 .u-gallery-1 {
    width: 470px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 224px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 235px;
    height: 303px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -92px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-3 .u-gallery-1 {
    width: 360px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 232px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -21px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 660px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    width: 270px;
    height: 348px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -137px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 78px;
  }

  .u-section-3 .u-image-1 {
    width: 170px;
    height: 219px;
    margin-top: 11px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -195px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 667px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: kom-post;
  margin: 0 auto;
  padding: 11px 135px 12px 134px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-family: kom-post;
  margin: 11px 158px 0 47px;
}

.u-section-4 .u-image-1 {
  width: 255px;
  height: 341px;
  margin: 32px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 255px;
  height: 357px;
  margin: -360px auto 0 123px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 563px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-4 .u-text-2 {
  font-family: kom-post;
  margin: 4px 86px 0 59px;
}

.u-section-4 .u-image-3 {
  width: 255px;
  height: 357px;
  margin: 16px auto 0 101px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 104px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 36px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-left: 105px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 797px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 85px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 515px;
}

.u-section-5 .u-text-1 {
  font-family: kom-post;
  width: 542px;
  margin: 11px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 435px;
  width: 1140px;
  margin: 19px -11px 11px auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 40px 40px;
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-5 .u-gallery-1 {
    height: 359px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1728px;
  }

  .u-section-5 .u-gallery-1 {
    height: 825px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2638px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1856px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1169px;
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
  margin-top: 20px;
}

.u-section-6 .u-sheet-1 {
  min-height: 480px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-family: kom-post;
  font-size: 3rem;
  margin: 29px 145px 0 193px;
}

.u-section-6 .u-text-2 {
  font-family: kom-post;
  margin: 0 337px 0 0;
}

.u-section-6 .u-text-3 {
  font-family: kom-post;
  font-size: 1rem;
  margin: 0 325px 0 12px;
}

.u-section-6 .u-text-4 {
  font-family: kom-post;
  margin: 0 337px 0 0;
}

.u-section-6 .u-text-5 {
  font-family: kom-post;
  font-size: 1rem;
  margin: -2px 325px 0 12px;
}

.u-section-6 .u-text-6 {
  font-family: kom-post;
  margin: 0 337px 0 0;
}

.u-section-6 .u-text-7 {
  font-family: kom-post;
  font-size: 1rem;
  margin: 0;
}

.u-section-6 .u-text-8 {
  font-family: kom-post;
  margin: -6px 337px 0 0;
}

.u-section-6 .u-text-9 {
  font-family: kom-post;
  font-size: 1rem;
  margin: 0;
}

.u-section-6 .u-text-10 {
  font-family: kom-post;
  margin: 0 337px 0 0;
}

.u-section-6 .u-text-11 {
  font-family: kom-post;
  font-size: 1rem;
  margin: -4px 0 0;
}

.u-section-6 .u-text-12 {
  font-family: kom-post;
  margin: 0 337px 0 0;
}

.u-section-6 .u-text-13 {
  font-family: kom-post;
  font-size: 1rem;
  margin: 0;
}

.u-section-6 .u-text-14 {
  font-family: kom-post;
  margin: -2px 191px 0 0;
}

.u-section-6 .u-text-15 {
  font-family: kom-post;
  margin: 0 191px 28px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 803px;
    margin-left: 93px;
    margin-right: 45px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 137px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-right: 137px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
    margin-right: 137px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 137px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 137px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 137px;
  }

  .u-section-6 .u-text-14 {
    margin-right: 0;
  }

  .u-section-6 .u-text-15 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
  }

  .u-section-6 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -2px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-block-2b95-1 {
  margin-top: 20px;
}

.u-block-2b95-5 {
  position: absolute;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + 524px);
  bottom: -10px;
}

.u-block-2b95-3 {
  position: absolute;
  left: 0;
}

.u-block-2b95-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-2b95-5 {
    right: calc(((100% - 940px) / 2)  + 424px);
  }
}

@media (max-width: 991px) {
  .u-block-2b95-5 {
    right: calc(((100% - 720px) / 2)  + 314px);
  }
}

@media (max-width: 767px) {
  .u-block-2b95-5 {
    right: calc(((100% - 540px) / 2)  + 224px);
  }
}

@media (max-width: 575px) {
  .u-block-2b95-5 {
    right: calc(((100% - 340px) / 2)  + 124px);
  }
}

 .u-section-7-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2022-04-03042533.jpg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 1186px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 978px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 749px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 562px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-7-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2022-04-03042052.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 1186px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 978px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 749px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 562px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-7-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2022-04-03042006.jpg");
  background-position: 50% 50%;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 1186px;
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 978px;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 749px;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 562px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-7-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2022-04-03042614.jpg");
  background-position: 50% 50%;
}

.u-section-7-4 .u-sheet-1 {
  min-height: 1186px;
}

@media (max-width: 1199px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 978px;
  }
}

@media (max-width: 991px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 749px;
  }
}

@media (max-width: 767px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 562px;
  }
}

@media (max-width: 575px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 354px;
  }
} .u-section-8 {
  background-image: none;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-8 .u-sheet-1 {
  min-height: 511px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 34px -14px 10px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 555px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-1 {
  font-family: kom-post;
  font-size: 3.75rem;
  margin: 21px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  font-family: kom-post;
  margin: 2px auto 0 313px;
  padding: 10px 182px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  font-family: kom-post;
  margin: 17px auto 0 311px;
  padding: 10px 170px 10px 169px;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  font-family: kom-post;
  margin: 28px auto 0 311px;
  padding: 10px 224px 11px 223px;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  font-family: kom-post;
  margin: 28px auto 0 311px;
  padding: 10px 82px 11px 81px;
}



.u-section-8 .u-image-1 {
  width: 173px;
  height: 92px;
  margin: -20px auto 0 179px;
}

.u-section-8 .u-text-2 {
  font-family: kom-post;
  font-size: 2.25rem;
  margin: -105px auto 0 0;
}

.u-section-8 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  font-family: kom-post;
  margin: -66px 331px 0 auto;
  padding: 10px 74px 11px;
}
.u-section-8 .u-btn-6 {
  
  font-family: kom-post;
  margin: -66px 331px 0 auto;
  padding: 10px 74px 11px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 113px;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 111px;
  }

  .u-section-8 .u-btn-3 {
    margin-left: 111px;
  }

  .u-section-8 .u-btn-4 {
    margin-left: 111px;
  }

  .u-section-8 .u-btn-5 {
    margin-right: 131px;
  }
  .u-section-8 .u-btn-6 {
    margin-right: 131px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-5 {
    margin-right: 0;
  }
  .u-section-8 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-image-1 {
    margin-left: 167px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-9 {
  margin-top: 20px;
  background-image: url("images/Frame9.jpg");
}

.u-section-9 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 179px;
  }
} .u-section-10 {
  background-image: none;
  margin-top: 20px;
}

.u-section-10 .u-sheet-1 {
  min-height: 754px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 18px 0 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 614px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-10 .u-text-1 {
  font-family: kom-post;
  width: 450px;
  font-size: 3rem;
  margin: 147px auto 0;
}

.u-section-10 .u-text-2 {
  font-family: kom-post;
  font-size: 1.5rem;
  margin: 19px 60px 0;
}

.u-section-10 .u-image-1 {
  width: 225px;
  height: 290px;
  margin: -125px 4px 0 auto;
}

.u-section-10 .u-image-2 {
  width: 156px;
  height: 156px;
  margin: -105px -24px 0 auto;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 614px;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-1 {
    width: 360px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 366px;
  }
}@font-face {
  font-family: 'kom-post';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/kom-post.ttf);
}