﻿<header class="u-clearfix u-header u-header" id="sec-2dfc"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
<a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="147" data-image-height="146">
          <img src="images/wgts_G_B1Kk1.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-position="">
          <div class="menu-collapse u-custom-font" style="font-size: 1.5625rem; letter-spacing: 0px; font-weight: 700; font-family: kom-post;">
            <a class="u-button-style u-custom-border u-custom-border-color u-custom-borders u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-nav u-spacing-20 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Index.cshtml#carousel_9f8b" data-page-id="51976236" style="padding: 16px 18px;">Галерея</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Index.cshtml#carousel_85a8" data-page-id="51976236" style="padding: 16px 18px;">Отзывы</a>
<!--</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Index.cshtml#carousel_5241" data-page-id="51976236" style="padding: 16px 18px;">Контакты</a>-->
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Index.cshtml#carousel_8b15" data-page-id="51976236" style="padding: 16px 16px 16px 18px;">Цена</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Index.cshtml#carousel_9f8b" data-page-id="51976236">Галерея</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Index.cshtml#carousel_85a8" data-page-id="51976236">Отзывы</a>
<!--</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Index.cshtml#carousel_5241" data-page-id="51976236">Контакты</a>-->
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Index.cshtml#carousel_8b15" data-page-id="51976236">Цена</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-custom-font u-text u-text-palette-1-base u-text-1">дЕТСКИЙ&nbsp; ЦЕНТР<br>СОВА И ЛИСЕНОК
        </p>
        <a href="#" class="u-btn u-button-style u-custom-font u-hover-feature u-hover-palette-2-light-1 u-palette-2-dark-2 u-btn-1">Перезвоните мне</a>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="carousel_c3d9">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-palette-4-light-3 u-radius-20 u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <div alt="" class="u-border-8 u-border-white u-image u-image-circle u-image-1" data-image-width="735" data-image-height="755"></div>
            <h2 class="u-custom-font u-text u-text-1">
              <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); letter-spacing: normal; text-transform: none; text-size-adjust: auto;"></span>К нам ходят без слёз, <br>а только с улыбкой
            </h2>
            <ul class="u-custom-font u-text u-text-2">
              <li>
                <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); text-size-adjust: auto;"></span>
                <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); text-size-adjust: auto;"></span>Мягкая адаптация
              </li>
              <li>Подготовка к школе</li>
              <li>Воспитатели - как мама</li>
            </ul>
            <ul class="u-custom-font u-text u-text-3">
              <li>
                <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); text-size-adjust: auto;"></span>Группы полного и<br>сокращенного дня<br>
              </li>
              <li>
                <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); text-size-adjust: auto;"></span>Режим работы 7:00-20:00<br>
              </li>
            </ul>
            <a href="#" class="u-border-black u-border-none u-btn u-btn-round u-button-style u-custom-font u-palette-2-dark-1 u-radius-25 u-btn-1">Записаться</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-2" id="carousel_e66e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-shape u-shape-rectangle u-white u-shape-1"></div>
        <div class="u-clearfix u-gutter-50 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <a href="#" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-hover-palette-1-light-1 u-palette-1-light-2 u-radius-50 u-text-body-alt-color u-btn-1">У нас есть бассейн!</a>
                  <img src="images/Frame2.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="1920" data-image-height="1039">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-3" id="carousel_9f8b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-gallery u-layout-horizontal u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
                    <div class="u-gallery-inner"><div class="u-effect-fade u-gallery-item u-gallery-item-1"><div class="u-back-slide" data-image-width="1279" data-image-height="1713"><img class="u-back-image" src="images/2022-04-03025429.jpg">
</div><div class="u-over-slide u-shading u-over-slide-1"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
</div>
</div><div class="u-effect-fade u-gallery-item u-gallery-item-2"><div class="u-back-slide" data-image-width="1356" data-image-height="1753"><img class="u-back-image" src="images/2022-04-03025452.jpg">
</div><div class="u-over-slide u-shading u-over-slide-2"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
</div>
</div><div class="u-effect-fade u-gallery-item u-gallery-item-3"><div class="u-back-slide" data-image-width="1421" data-image-height="1737"><img class="u-back-image" src="images/2022-04-03025205.jpg">
</div><div class="u-over-slide u-shading u-over-slide-3"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
</div>
</div><div class="u-effect-fade u-gallery-item u-gallery-item-4"><div class="u-back-slide" data-image-width="1426" data-image-height="1793"><img class="u-back-image" src="images/2022-04-03025307.jpg">
</div><div class="u-over-slide u-shading u-over-slide-4"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
</div>
</div></div>
                    <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
                      <span aria-hidden="true">
                        <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                      </span>
                      <span class="sr-only">
                        <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                      </span>
                    </a>
                    <a class="u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
                      <span aria-hidden="true">
                        <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                      </span>
                      <span class="sr-only">
                        <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <p class="u-align-center u-custom-font u-text u-text-1">
                    <span style="font-size: 3.4375rem;" class="u-text-palette-2-light-1">НАШИ СОВЯТА И ЛИСЯТА<br>
                    </span>
                    <br>
                  </p>
                  <h4 class="u-align-center u-custom-font u-text u-text-palette-1-base u-text-2">Учатся </h4>
                  <ul class="u-align-left u-custom-font u-text u-text-3">
                    <li>
                      <span style="font-size: 1.5rem;" class="u-text-palette-1-light-1">Гимнастике</span>
                    </li>
                    <li>
                      <span style="font-size: 1.5rem;" class="u-text-palette-1-light-1">хореография</span>
                    </li>
                    <li>
                      <span style="font-size: 1.5rem;" class="u-text-palette-1-light-1">Лепке</span>
                    </li>
                    <li>
                      <span style="font-size: 1.5rem;" class="u-text-palette-1-light-1">рИСОВАНИЮ</span>
                    </li>
                    <li>
                      <span style="font-size: 1.5rem;" class="u-text-palette-1-light-1">АНГЛИЙСКОМУ</span>
                    </li>
                    <li>
                      <span style="font-size: 1.5rem;" class="u-text-palette-1-light-1">МАТЕМАТИКЕ</span>
                    </li>
                  </ul>
                  <ul class="u-align-left u-custom-font u-text u-text-default u-text-4">
                    <li>
                      <span style="font-size: 1.5rem;" class="u-text-palette-1-light-1">ИЗУЧАЮТ ОКРУЖАЮЩИЙ МИР</span>
                    </li>
                    <li style="">
                      <span style="font-size: 1.5rem;" class="u-text-palette-1-light-1">ПОСЕЩАЮТ МУЗЫКАЛЬНЫЕ ЗАНЯТИЯ</span>
                    </li>
                  </ul>
                  <img class="u-image u-image-default u-image-1" src="images/R.png" alt="" data-image-width="469" data-image-height="604">
                  <h5 class="u-align-left u-custom-font u-text u-text-default u-text-palette-1-light-1 u-text-5">И ПОЗНАЮТ МНОГОЕ ДРУГОЕ</h5>
                  <img class="u-image u-image-default u-preserve-proportions u-image-2" src="images/1R.png" alt="" data-image-width="156" data-image-height="156">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="carousel_7b3a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-border-none u-btn u-btn-round u-button-style u-custom-font u-hover-palette-2-light-1 u-palette-2-base u-radius-50 u-text-hover-white u-btn-1">сКОРО</a>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-custom-font u-text u-text-palette-1-dark-1 u-text-1">кРУЖОК АКТЕРСКОГО&nbsp;<br>МАСТЕРСТВА
                  </h2>
                  <img class="u-image u-image-default u-image-1" src="images/theatre1.png" alt="" data-image-width="298" data-image-height="398">
                  <img class="u-image u-image-default u-image-2" src="images/image7.png" alt="" data-image-width="516" data-image-height="722">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-palette-1-light-1 u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-2">ЛЕТНИЙ ЛАГЕРЬ&nbsp;<br>2022
                  </h2>
                  <img class="u-image u-image-default u-image-3" src="images/image6.png" alt="" data-image-width="516" data-image-height="722">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-white u-section-5" id="carousel_85a8">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-custom-font u-text u-text-palette-2-base u-text-1">ГОВОРЯТ РОДИТЕЛИ</h2>
        <div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="images/image9.png" data-image-width="558" data-image-height="604">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="images/image11.png" data-image-width="554" data-image-height="737">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="images/image10.png" data-image-width="564" data-image-height="672">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-6" id="sec-4724">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-custom-font u-text u-text-palette-1-base u-text-1">ЧАСТЫЕ ВОПРОСЫ</h3>
        <ul class="u-align-left u-custom-font u-custom-list u-text u-text-2">
          <li>
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-751e"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            <span style="font-size: 1.25rem;">С какого возраста принимаете детей в детский центр?</span>
          </li>
        </ul>
        <h5 class="u-align-left u-custom-font u-text u-text-3">Мы приглашаем детей с 10 месяцев до 6 лет.</h5>
        <ul class="u-align-left u-custom-font u-custom-list u-text u-text-4">
          <li>
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-751e"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            <span style="font-size: 1.25rem;">Сколько детей в группе?</span>
            <br>
          </li>
        </ul>
        <h5 class="u-align-left u-custom-font u-text u-text-5">В группе до 12 человек. Все группы разделены по возрасту.</h5>
        <ul class="u-align-left u-custom-font u-custom-list u-text u-text-6">
          <li style="">
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-751e"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            <span style="font-size: 1.25rem;">Если ребёнок не ест мясо/молочку/и т.д</span>
            <br>
          </li>
        </ul>
        <h5 class="u-align-left u-custom-font u-text u-text-7">В В нашем детском центре есть свой повар, который создаёт меню даже для детей с непереносимостью лактозы и аллергиков, учитываются все особенности в питании</h5>
        <ul class="u-align-left u-custom-font u-custom-list u-text u-text-8">
          <li>
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-751e"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            <span style="font-size: 1.25rem;">Что должен уметь ребёнок для поступления в детский центр?</span>
            <span style="font-size: 1.25rem;"></span>
            <br>
          </li>
        </ul>
        <h5 class="u-align-left u-custom-font u-text u-text-9">В В нашем детском центре есть свой повар, который создаёт меню даже для детей с непереносимостью лактозы и аллергиков, учитываются все особенности в питании</h5>
        <ul class="u-align-left u-custom-font u-custom-list u-text u-text-10">
          <li>
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-751e"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            <span style="font-size: 1.25rem;">К​ак проходит адаптация?</span>
            <br>
          </li>
        </ul>
        <h5 class="u-align-left u-custom-font u-text u-text-11">Мы за мягкую адаптацию! Поэтому посещение детского центра начинается с 1 часа и постепенно увеличивается. Всё проходит индивидуально, в зависимости от готовности ребенка к саду.</h5>
        <ul class="u-align-left u-custom-font u-custom-list u-text u-text-12">
          <li>
            <span style="font-size: 1.25rem;"></span>
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-751e"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            <span style="font-size: 1.25rem;">Есть ли перерасчёт в детском центре?</span>
            <br>
          </li>
        </ul>
        <h5 class="u-align-left u-custom-font u-text u-text-13">Конечно, мы делаем перерасчёт 15% от стоимость при условии справки от педиатра. За более подробной информации обратитесь к управляющему детского сада.</h5>
        <ul class="u-align-left u-custom-font u-custom-list u-text u-text-14">
          <li>
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-751e"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            <span style="font-size: 1.25rem;">Какие есть развивающие занятия и входят ли они в стоимость? </span>
            <br>
          </li>
        </ul>
        <p class="u-align-left u-custom-font u-text u-text-15">Конечно есть, мы за разностороннее развитие ребёнка. И все занятия входят в стоимость.</p>
      </div>
    </section>
    <section class="u-carousel u-slide u-block-2b95-1" id="carousel_92f0" data-interval="5000" data-u-ride="carousel">
      <ol class="u-carousel-indicators u-block-2b95-5">
        <li data-u-target="#carousel_92f0" class="u-active u-grey-30" data-u-slide-to="0"></li>
        <li data-u-target="#carousel_92f0" class="u-grey-30" data-u-slide-to="1"></li>
        <li data-u-target="#carousel_92f0" class="u-grey-30" data-u-slide-to="2"></li>
        <li data-u-target="#carousel_92f0" class="u-grey-30" data-u-slide-to="3"></li>
      </ol>
      <div class="u-carousel-inner" role="listbox">
        <div class="u-active u-align-center u-carousel-item u-clearfix u-image u-shading u-section-7-1" src="" data-image-width="1629" data-image-height="1699">
          <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
        </div>
        <div class="u-align-center u-carousel-item u-clearfix u-image u-shading u-section-7-2" src="" data-image-width="1348" data-image-height="1600">
          <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
        </div>
        <div class="u-align-center u-carousel-item u-clearfix u-image u-shading u-section-7-3" src="" data-image-width="1685" data-image-height="1723">
          <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
        </div>
        <div class="u-align-center u-carousel-item u-clearfix u-image u-image-contain u-shading u-section-7-4" src="" data-image-width="1634" data-image-height="1652" data-href="Index.cshtml#carousel_92f0" data-page-id="51976236">
          <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
        </div>
      </div>
      <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-block-2b95-3" href="#carousel_92f0" role="button" data-u-slide="prev">
        <span aria-hidden="true">
          <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-block-2b95-4" href="#carousel_92f0" role="button" data-u-slide="next">
        <span aria-hidden="true">
          <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
        </span>
        <span class="sr-only">Next</span>
      </a>
    </section>
    <section class="u-clearfix u-palette-2-base u-section-8" id="sec-63bc">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1">ХОЧУ УЗНАТЬ БОЛЬШЕ</h2>
                  <form method="post">
                    <input placeholder="ФИО Родителя" style="resize:horizontal; width:400px" type="text" name="ParentName" class = "form-control form-control-lg mx-auto "/>
                    <input placeholder="Телефон Родителя" style=" resize:horizontal; width:400px;" type="text" name="ParentPhone" class = "form-control form-control-lg mx-auto"/>
                    <input placeholder="Email Родителя" style="resize:horizontal; width:400px" type="text" name="Email" class = "form-control form-control-lg mx-auto"/>
                    <img class="u-image u-image-default u-preserve-proportions u-image-1" src="images/-111.png" alt="" data-image-width="173" data-image-height="92">
                    <h2 class="u-align-center u-custom-font u-text u-text-default u-text-2">Хочу на экскурсию</h2>
                    <input type=submit class="btn btn-outline-light"/>    
                </form>  
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-9" id="carousel_8b15" data-image-width="1920" data-image-height="603">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-10" id="sec-6afe">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-opacity u-opacity-15 u-palette-1-light-1 u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-custom-font u-text u-text-palette-1-dark-1 u-text-1">ЗАХОДИТЕ В ГОСТИ!</h2>
                  <p class="u-align-left u-custom-font u-text u-text-palette-1-dark-2 u-text-2">СЕВАСОПОЛЬ, ​СТРЕЛЕЦКАЯ, 9</p>
                  <img class="u-image u-image-default u-image-1" src="images/R-20.png" alt="" data-image-width="469" data-image-height="604">
                  <img class="u-image u-image-default u-preserve-proportions u-image-2" src="images/1R-21.png" alt="" data-image-width="156" data-image-height="156">
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-expanded u-grey-10 u-map">
                    <div class="embed-responsive">
                      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d710.4232573942556!2d33.47240388817296!3d44.58284899868739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4095234b212de5bb%3A0x7f13d92341981783!2z0KHRgtGA0LXQu9C10YbQutCw0Y8g0YPQuy4sIDksINCh0LXQstCw0YHRgtC-0L_QvtC70Yw!5e0!3m2!1sru!2sru!4v1648953872418!5m2!1sru!2sru" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWVtYmVkJTIyJTJDJTIyYWRkcmVzcyUyMiUzQSUyMlNldmFzdG9wb2wlMkMlMjAlRDAlQTElRDElODIlRDElODAlRDAlQjUlRDAlQkIlRDAlQjUlRDElODYlRDAlQkElRDAlQjAlRDElOEYlMkMlMjA5JTIyJTJDJTIyem9vbSUyMiUzQTEyJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0ElMjJydSUyMiUyQyUyMmFwaUtleSUyMiUzQW51bGwlMkMlMjJtYXJrZXJzJTIyJTNBJTVCJTVEJTJDJTIyZW1iZWQlMjIlM0ElMjJodHRwcyUzQSUyRiUyRnd3dy5nb29nbGUuY29tJTJGbWFwcyUyRmVtYmVkJTNGcGIlM0QhMW0xOCExbTEyITFtMyExZDcxMC40MjMyNTczOTQyNTU2ITJkMzMuNDcyNDAzODg4MTcyOTYhM2Q0NC41ODI4NDg5OTg2ODczOSEybTMhMWYwITJmMCEzZjAhM20yITFpMTAyNCEyaTc2OCE0ZjEzLjEhM20zITFtMiExczB4NDA5NTIzNGIyMTJkZTViYiUyNTNBMHg3ZjEzZDkyMzQxOTgxNzgzITJ6MEtIUmd0R0EwTFhRdTlDMTBZYlF1dEN3MFk4ZzBZUFF1eTRzSURrc0lOQ2gwTFhRc3RDdzBZSFJndEMtMExfUXZ0QzcwWXchNWUwITNtMiExc3J1ITJzcnUhNHYxNjQ4OTUzODcyNDE4ITVtMiExc3J1ITJzcnUlMjIlN0Q="></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-0c5e"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">2022</p>
      </div></footer>