﻿@using LKG.Core.Dtos
@model List<RequestDto>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">ФИО</th>
            <th scope="col">Телефон</th>
            <th scope="col">Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (RequestDto dto in Model)
        {
            <tr>
                <th>@dto.Id</th>
                <td>@dto.ParentName</td>
                <td>@dto.ParentPhone</td>
                <td>@dto.Email</td>
                <td><a asp-action="Edit" asp-route-id="@(dto.Id)" class="btn btn-outline-primary">Изменить</a></td>
                <td><a asp-action="Delete" asp-route-id="@(dto.Id)" class="btn btn-outline-danger">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>