﻿<div>
<form method="post">
<input class="form-control form-control-lg" style="resize:horizontal; width:400px;" type="text" name="Login"/>
<input class="form-control form-control-lg" style="resize:horizontal; width:400px;" type="password" name="Password"/>
<input class="form-control form-control-lg" style="resize:horizontal; width:400px;" type="submit"/>
</form>
</div>