﻿@using LKG.Core.Dtos
@model RequestDto;

@{
    ViewData["Title"] = "Редактирование заявки";
}

<div class="text-center">
    <h1 class="display-3">Изменение заявления</h1>
</div>

<form method="post">
    <div class="mb-3">
        <input type="hidden" name="id" value="@(Model.Id)"/>
        <label for="parentNameInput" class="form-label">ФИО Родителя</label>
        <input type="text" class="form-control" name="parentName" id="parentNameInput" value="@(Model.ParentName)">
    </div>
    <div class="mb-3">
        <label for="parentPhoneInput" class="form-label">Телефон родителя</label>
        <input type="text" class="form-control" name="parentPhone" id="parentPhoneInput" value="@(Model.ParentPhone)">
    </div>
    <div class="mb-3">
        <label for="emailInput" class="form-label">Электронная почта родителя</label>
        <input type="text" class="form-control" name="email" id="emailInput" value="@(Model.Email)">
    </div>
    <button type="submit" class="btn btn-primary">Изменить заявку</button>
</form>
